/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
    @include container(1024px);    
}

.intro-panel {
    .main-image {
        height: 480px;
    }

}
.intro-panel p {
    margin: 0;
    padding: 130px 0 0 520px;
}

/*********************
NEWS CONTAINER
*********************/

#news-content {
    #main-news {

        top: -220px;
    }
}